<%- include('partials/head.ejs') %>
<main>
    <%- include('partials/aside.ejs') %>
    <section>
        <div class="container">
            <div class="container-head">Esse seria o Header
                <a>Posts</a>
                <p>Outras coisas</p>
                <button onclick="changeImageSize(60)">60%</button>
                <button onclick="changeImageSize(80)">80%</button>
                <button onclick="changeImageSize(100)">100%</button>
                <button onclick="changeImageSize('original')">Tamanho original</button>
            </div>
            <h2>Recebe Cards</h2>
            <div class="container-body">

            <% for (let i = 0; i < result.length; i++) { %>
                    <img class="img-main" src="/<%= result[i].path %>" style="width: 60%; height: 60%;">
                    <!-- FIM Adicionar o EJS de iteração-->
            </div>
            <div class="container-tags">
                <p class="tags-non-editable">TAGS: <%= result[0].tags %></p>
                <br>
                <button onclick="editTags(this)">Editar</button>
                <form id="editForm" class="edit-form" action="/update-tags/<%= result[0].id %>" method="post" style="display: none;">
                    <textarea name="tags" class="tags-editable" onclick="stopPropagation(event);" oninput="getTagSuggestions(this);" rows="4" cols="50"></textarea>
                    <button class="save-button" onclick="saveTags(this)" data-id="<%= result[0].id %>">Salvar</button>
                </form>
            </div>            


            <div class="container-footer">
                <a href="<%= result[i].id - 1 %>"><</a>
                <h4>Texto placeholder</h4>
                <a href="<%= result[i].id + 1 %>">></a>
            </div>
            <% } %>
            <div class="footer">
                recebe o footer, paginação
            </div>
        </div>
    </section>
    
</main>
<footer>
    <p>Footer</p>
</footer>

<script>

function getTagSuggestions(textarea) {
  const inputValue = textarea.value.trim();
  fetch(`/tags/suggestions?input=${inputValue}`)
    .then(response => response.json())
    .then(data => {
      // Atualiza a lista de sugestões com base na resposta
      // (por exemplo, preencher uma lista de sugestões abaixo do textarea)
    })
    .catch(error => console.error('Erro ao obter sugestões de tags:', error));
}

</script>





<%- include('partials/endBody.ejs') %>