<%- include('partials/head.ejs') %>
<main>
    <%- include('partials/aside.ejs') %>
    <section>
        <div class="container">
            <div class="container-head">Esse seria o Header
                <a>Posts</a>
                <p>Outras coisas</p>
                <button onclick="changeImageSize(60)">60%</button>
                <button onclick="changeImageSize(80)">80%</button>
                <button onclick="changeImageSize(100)">100%</button>
                <button onclick="changeImageSize('original')">Tamanho original</button>
            </div>
            <h2>Recebe Cards</h2>
            <div class="container-body">

                <% for (let i = 0; i < result.length; i++) { %>
                    <img class="img-main" src="/<%= result[i].path %>" style="width: 60%; height: 60%;">
                    <!-- FIM Adicionar o EJS de iteração-->
            </div>

            <div class="container-tags" onclick="toggleTags(this)">
                <p class="tags-non-editable"><%= result[i].tags %></p>
                <textarea class="tags-editable" style="display: none; width: 100%;" onclick="stopPropagation(event);"><%= result[i].tags %></textarea>
                <button class="save-button" style="display: none;" onclick="saveTags(this)">Salvar</button>
            </div>


            <div class="container-footer">
                <a href="<%= result[i].id - 1 %>"><</a>
                <h4>Texto placeholder</h4>
                <a href="<%= result[i].id + 1 %>">></a>
            </div>
            <% } %>
            <div class="footer">
                recebe o footer, paginação
            </div>
        </div>
    </section>
    
</main>
<footer>
    <p>Footer</p>
</footer>
<script>
    function toggleTags(container) {
        const p = container.querySelector('.tags-non-editable');
        const textarea = container.querySelector('.tags-editable');
        const button = container.querySelector('.save-button');
        if (p.style.display === 'none' || p.style.display === '') {
            p.style.display = 'block';
            textarea.style.display = 'none';
            button.style.display = 'none';
        } else {
            p.style.display = 'none';
            textarea.style.display = 'block';
            button.style.display = 'block';
        }
    }
    
    function stopPropagation(event) {
        event.stopPropagation(); // Impede a propagação do evento de clique para o elemento pai
    }
    
    function saveTags(button) {
        const container = button.parentElement;
        const p = container.querySelector('.tags-non-editable');
        const textarea = container.querySelector('.tags-editable');
        p.textContent = textarea.value; // Atualiza o conteúdo do parágrafo com o valor da caixa de texto
        textarea.style.display = 'none'; // Esconde o textarea
        p.style.display = 'block'; // Exibe o parágrafo
        toggleTags(container); // Volta para a exibição do parágrafo
    }
    </script>
<%- include('partials/endBody.ejs') %>
