<aside class="aside-main">
  <h4>Pesquisar</h4>
  <input type="text"/>
  <p>Barra de pesquisa</p>
  <% let series = {}; %>
  <% let characters = {}; %>
  <% let authors = {}; %>
  <% let misc = {}; %>
  <% if (result && result.length) { %>
      <% for (let i = 0; i < result.length; i++) { %>
          <% if (result[i].tags) { %>
              <% const tags = result[i].tags.split(';'); %>
              <% for (let j = 0; j < tags.length; j++) { %>
                  <% const tag = tags[j].trim(); %>
                  <% if (tag.startsWith('series:')) { %>
                      <% series[tag] = (series[tag] || 0) + 1; %>
                  <% } else if (tag.startsWith('char:')) { %>
                      <% characters[tag] = (characters[tag] || 0) + 1; %>
                  <% } else if (tag.startsWith('author:')) { %>
                      <% authors[tag] = (authors[tag] || 0) + 1; %>
                  <% } else if (tag.startsWith('misc:')) { %>
                      <% const miscTags = tag.replace('misc:', '').split(','); %>
                      <% for (let k = 0; k < miscTags.length; k++) { %>
                          <% const miscTag = miscTags[k].trim(); %>
                          <% misc[miscTag] = (misc[miscTag] || 0) + 1; %>
                      <% } %>
                  <% } %>
              <% } %>
          <% } %>
      <% } %>
  <% } %>
  <ul class="ul-tags serie-tag">
      <h4>Series:</h4>
      <% for (let tag in series) { %>
        <li class="serie-li"><a href="/tags/<%= tag.replace('series:', '') %>"><%= tag.replace('series:', '') %> </a>(<%= series[tag] %>)</li>
      <% } %>
      <% if (Object.keys(series).length === 0) { %>
      <% } %>
  </ul>
  <ul class="ul-tags char-tag">
      <h4>Characters:</h4>
      <% for (let tag in characters) { %>
          <li class="char-li"><a href="/tags/<%= tag.replace('char:', '') %>"><%= tag.replace('char:', '') %> </a>(<%= characters[tag] %>)</li>
      <% } %>
      <% if (Object.keys(characters).length === 0) { %>
      <% } %>
  </ul>
  <ul class="ul-tags author-tag">
      <h4>Authors</h4>
      <% for (let tag in authors) { %>
        <li class="author-li"><a href="/tags/<%= tag.replace('author:', '') %>"><%= tag.replace('author:', '') %> (<%= authors[tag] %>)</a></li>
          
      <% } %>
      <% if (Object.keys(authors).length === 0) { %>
      <% } %>
  </ul>
  <ul class="ul-tags misc-tag">
      <h4>Misc:</h4>
      <% for (let tag in misc) { %>
          <li class="misc-li"><a href="/tags/<%= tag.replace('misc:', '') %>"><%= tag.replace('misc:', '') %> (<%= misc[tag] %>)</a></li>
      <% } %>
      <% if (Object.keys(misc).length === 0) { %>
      <% } %>
  </ul>
</aside>

